<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是指明Mybatis扫描的目录，mapper是我们的Dao层的映射目录 -->
<mapper namespace="com.trump.dao.UserDao">

    <!--查找-->
    <select id="findOneById" resultType="user" parameterType="String">
      SELECT * FROM user WHERE id = #{userId}
    </select>

    <!--查找-->
    <select id="findUserByName" resultType="user" parameterType="String">
        SELECT * FROM user WHERE username = #{name}
    </select>

    <insert id="add" parameterType="user">
      INSERT INTO user
      (username, password, sex, description)
      VALUES
      (#{username}, #{password}, #{sex}, #{description})
    </insert>

    <select id="findAll" resultType="user">
        SELECT * FROM user
    </select>

</mapper>